html {font-size: 15px;
  font-family: 'Anek Latin', sans-serif;}

body{background-color: paleturquoise;
padding: 0 20px 20px 20px;
width:1200px;
min-height: 100vh;}

li{
  color: darkblue;
}

h1 {color: darkturquoise;
  font-size: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80% ;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1em;
  grid-template-areas: "header header "
                       "aside article "
                       "footer footer ";
}


header{
  grid-area: header;
  height: 150px;
  text-shadow: 0 0 3px #fff; /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=1); /* IE<10 */
  font-size: 90px;
  font-family: 'dancing script', sans-serif;
  color: darkgrey;
  text-align: center;
  border: 3px solid darkgrey;
  background-image:url("../images/bg-bunny.jpg");
  background-size: 20%;
}

header, footer {grid-column: 1 / span 2;}

aside{
  gride-area: aside;
  background-color: white;
  padding: 15px;
  border: rosybrown;
  border: 3px solid darkturquoise;
  margin:0 10 10 10px;
    
}

article{
grid-area: article;
border: 3px solid hotpink;
background-color:white; 
margin: 0 0px 10 0px;
padding: 10px;
padding: 10px;
}

footer{
grid-area: footer;
border: 3px solid darkturquoise;
background-color: white;
height: 50px;
}

.article-title{
  font-family: 'dancing script', sans-serif;

  font-size:60px;
  color: hotpink;
  text-align: center;
  }


.aside-title{
  font-size:40px;
  color: darkturquoise;
  text-align: left;
  font-family: 'dancing script', sans-serif;
}   